@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/user/lib/fonts/snap.ttf">
    <link rel="stylesheet" href="~/user/lib/fontawesome/all.min.css">
    <link rel="stylesheet" href="~/user/lib/bootstrap css/bootstrap.min.css">
    <link rel="stylesheet" href="~/user/CSS/commen.css">
    <link rel="stylesheet" href="~/user/CSS/index.css">
    <title>Ecommerce Toys</title>
</head>
<body>
    <div class="getStarted">
        <div class="container">
            <div class="box d-flex justify-content-center align-items-center pt-2">
                <div class="image pt-5">
                    <div class="animation w-100 position-relative">
                        <img src="~/user/Images/ballon2.png" alt="">
                    </div>
                </div>
                <div class="text pe-5 me-sm-0 me-md-5 mt-5 text-center">
                    <h1>Welcome </br>
                        To </br>
                    </h1>
                    <div class="logo pe-0 me-md-0">
                        <p class="fw-bold fs-3 position-relative">
                            <i class="fa-solid fa-child-dress position-absolute fs-2"></i>
                            <i class="fa-solid fa-face-grin-beam position-absolute fs-2"></i>
                            <i class="fa-solid fa-child position-absolute fs-2"></i>
                            Child's Laugh
                        </p>
                    </div>
                </div>
            </div>
            <div class="main-button text-center mb-3">
                <button class="fw-bold fs-3" disabled>Get Started <a asp-controller="Home" asp-action="Index" class=" ms-5"><i class="fa-solid fa-circle-arrow-right"></i></a></button>
            </div>
        </div>
    </div>
    <script src="~/user/lib/fontawesome/all.min.js"></script>
    <script src="~/user/lib/bootstrap Js/bootstrap.bundle.min.js"></script>
</body>
</html>