@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}


    <div class="registeration">
        <div class="container gx-0">
            <div class="registeration-form ">
                <div class="box-form">
                    <i class="fa-solid fa-circle-arrow-left"></i>
                    <i class="fa-solid fa-user"></i>
                    <h3 class="fw-bold fs-4">Forget Password</h3>
                </div>
                <form method="post" class="form">
                     <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <p class="text-center">We are going to send you your password through the email entered below.</p>
                    <input type="text" class="form-control mt-3 mt-md-0" placeholder="Enter your Email" asp-for="Input.Email" aria-required="true" >
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                    <button class="registeration-button mt-3 mt-md-4 mt-lg-3 fw-bold" type="submit">Send</button>
                    <div class="register text-center mt-3 mt-md-4 mt-lg-3">
                        <p class="">Already Have an Account?</p>
                    <a asp-page="./Login"  class="fw-bold">LOG IN</a>
                    </div>
                </form>
            </div>
        </div>
    </div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
